 @charset "UTF-8";

.left-bar{
  position: fixed;
  font-family: 'Economica', sans-serif;
  font-size: 1.5vw;
  color:#555;

  top:10vh;
  margin-left:1vw;
  z-index:10;
  transition:300ms;
}

.left-bar a:hover{
  opacity: 1;
}

.left-bar a{

  text-decoration: none;
  position: relative;
  display: inline-block;
  margin-top:5vh;
  padding: 0.8vw 0.3vh;
}

.left-bar a::after {
  position: absolute;
  bottom: 3vh;
  left: 3vw;
  content: '';
  width: 100%;
  height: 0.1vh;
  background: #111;
  transform: scale(0.2,0.5);
  transform-origin: left;
  transition: transform 300ms;
}

.left-bar a:hover::after {
  transform: scale(0.9, 0.5);
}

.icon1 img{
  position: fixed;
  margin-left:1.4vw;
  margin-top:65vh;
  width: 2vw;
}

.icon2 img{
  position: fixed;
  margin-left:1.4vw;
  margin-top:75vh;
  width: 2vw;
}

.icon3 img{
  position: fixed;
  margin-left:1.4vw;
  margin-top:85vh;
  width: 2vw;
}

.topimg img{
  margin-left:7vw;
  width: 86vw;
}

#icon img:hover{
  transform: scale(1.2,1.2);
}

.center{
  margin-top: 8vh;
  text-align: center;
}
.s1 {
  font-family: 'Economica', sans-serif;
  font-size: 8vw;
  color: #333;
}

/*about////////////////////////////////////////////////////////////////*/

.kao img{
  margin-left:15vw;
  margin-top: 5vh;
  width:25vw;
}

.name {
  position:absolute;
  font-family: 'Rokkitt', sans-serif;
  font-size: 7vw;
  margin-left:10vw;
  margin-top: 5vh;
}

.aboutexp{
  position:absolute;
  font-family: 'Kosugi Maru', sans-serif;
  font-size: 1.5vw;
  margin-left:14vw;
  margin-top: 30vh;
}



/*skill////////////////////////////////////*/


.skillbox{
  margin-left:10vw;
  margin-top: 8vh;
  width:20vw;
}

.skill1 img{
  margin-left:5vw;
  width:12vw;
}

.skilltitle{
  margin-left:8vw;
  margin-top: 2vh;
  font-family: 'Economica', sans-serif;
  font-size: 3vw;
  color: #333;
}


/*
.skill1 img{
  margin-left:15vw;
  margin-top: 8vh;
  width:12vw;
}

.skill2 img{
  margin-left:17vw;
  margin-top: 8vh;
  width:12vw;
}

.skilltitle{
  margin-left:15vw;
  margin-top: 2vh;
  font-family: 'Economica', sans-serif;
  font-size: 64px;
  color: #333;
}
*/
