 @charset "UTF-8";

body{
  animation: fadeIn 3s ease 0s 1 normal;
}

@keyframes fadeIn {
  from {
      opacity: 0;
      transform: translateY(30px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
  }

.left-bar{
  position: fixed;
  font-family: 'Economica', sans-serif;
  font-size: 1.5vw;
  color:#555;

  top:10vh;
  margin-left:1vw;
  z-index:10;
  transition:300ms;
}

.left-bar a:hover{
  opacity: 1;
}

.left-bar a{
  color:#555;
  text-decoration: none;
  position: relative;
  display: inline-block;
  margin-top:5vh;
  padding: 0.8vw 0.3vh;
}

.left-bar a::after {
  position: absolute;
  bottom: 3vh;
  left: 3vw;
  content: '';
  width: 100%;
  height: 0.1vh;
  background: #111;
  transform: scale(0.2,0.5);
  transform-origin: left;
  transition: transform 300ms;
}

.left-bar a:hover::after {
  transform: scale(0.9, 0.5);
}

.icon1 img{
  position: fixed;
  margin-left:1.4vw;
  margin-top:65vh;
  width: 2vw;
}

.icon2 img{
  position: fixed;
  margin-left:1.4vw;
  margin-top:75vh;
  width: 2vw;
}

.icon3 img{
  position: fixed;
  margin-left:1.4vw;
  margin-top:85vh;
  width: 2vw;
}

.topimg{
  overflow: hidden;
}

.topimg img{
  margin-left:7vw;
  width: 86vw;
  transition: 300ms;
}

.topimg img:hover{
  filter: contrast(1.5);
  transform: scale(1.03);
  transition: 500ms;
}

#icon img:hover{
  transform: scale(1.2,1.2);
  transition: 200ms;
}

.center{
  margin-top: 8vh;
  text-align: center;
}
.s1 {
  font-family: 'Economica', sans-serif;
  font-size: 8vw;
  color: #333;
}

/*about////////////////////////////////////////////////////////////////*/

.about{
  height:120vh;
  background-color: #eee;
}

.kao img{
  margin-left:12vw;
  margin-top: 5vh;
  width:28vw;
}

.name {
  position:absolute;
  font-family: 'Rokkitt', sans-serif;
  font-size: 7vw;
  margin-left:10vw;
  margin-top: 5vh;
  color:#333;
  background: #ec3;
}

.aboutexp{
  position:absolute;
  font-family: 'Kosugi Maru', sans-serif;
  font-size: 1.5vw;
  margin-left:14vw;
  margin-top: 30vh;
}



/*skill////////////////////////////////////*/
.skill{
  position:absolute;
  left:5vw;
  width: 95vw;
  height:130vh;
}

.skillk{

  float:none;
  font-family: 'Economica', sans-serif;
  font-size: 3vw;
  font-weight:600;
  color: #333;
  transition: 500ms;
}

.look{
  left:5vw;
  float:none;
  font-family: 'Economica', sans-serif;
  font-size: 2vw;
  font-weight:600;
  color: #333;
  transition: 500ms;
}

.black{
    position:absolute;
    right: 0vw;
    width: 7vw;
    height: 90vh;
    background: #333;
    z-index:-999;
    transition: 600ms;
}

.blacktext{
  position:absolute;
  top:20vw;
  right:22vw;
  font-family: 'Economica', sans-serif;
  font-size: 2.5vw;
  color:#fff;
  opacity: 0.5;
  transition: 200ms;
  z-index: 10;
}

.blacktext:hover{
  opacity: 0;
  transition: 200ms;
}


.skill:hover>.black{
  width: 30vw;
  transition: 600ms;
}

.skill:hover>.look{
  left:-5vw;
  transition: 500ms;
}

.skill:hover>.skillbox1{
  margin-left:7vw;
  transition: 500ms;
}
.skill:hover>.skillbox2{
  margin-left:2vw;
  transition: 500ms;
}



.skillbox1{
  float:left;
  text-align: center;
  margin-left:13vw;
  margin-top: 8vh;
  width:18vw;
  transition: 500ms;
}

.skillbox2{
  float:left;
  text-align: center;
  margin-left:7vw;
  margin-top: 8vh;
  width:18vw;
  transition: 500ms;
}


.skill1 img{
  width:7vw;
}

.skilltitle{
  margin-top: 2vh;
  font-family: 'Economica', sans-serif;
  font-weight:550;
  font-size: 2.2vw;
  color: #333;
}

.skilltext{
  margin-top: 5vh;
  font-family: 'Economica', sans-serif;
  font-size: 1.1vw;
  font-weight:500;
  color: #777;
}

/*種類////////////////////////////////////////*/

.illustarea{
  opacity: 0;
  transform: translateY(30px);
  transition: 200ms;
}

.illust:hover+.illustarea{
  opacity: 1;
  transform: translateY(0);
  transition:200ms;
  transition-delay:300ms;
}


.illustleft{
  font-family: 'Economica', sans-serif;
  font-size: 5vw;
  color:#333;
  background:#fff;
  margin-left: 2vw;
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

.illustright{
  position:absolute;
  font-family: 'Economica', sans-serif;
  font-size: 1vw;
  color:#fff;
  right:5vw;
  top:-50vh;
  width: 15vw;
}

.illust1{
  top:2vh;
  left:2vw;
}

.illust1 img{
  width:16vw;
}





/*Mail////////////////////////////////////*/
.Mail{
 position: absolute;
  margin-top:50vh;
  width: 100vw;
  height:80vh;
  z-index: -1;
}

.mail_1{
  font-family: 'Economica', sans-serif;
  font-size: 1vw;
  color: #333;
}

.gmail{
  font-family: 'Economica', sans-serif;
  font-size: 3vw;
  color: #333;
}
